__pycache__/*
.idea/*
venv/*
app/__pycache__/*
flaskapp/__pycache__/*
flaskapp/app/__pycache__/*
flaskapp/migrations/__pycache__/*
flaskapp/migrations/versions/__pycache__/*
migrations/__pycache__/*
tbot/__pycache__/*
tbot/config.py
