{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block content %}
<h1>Список учеников</h1>

{% if pupils_list|length > 0 %}
<table>
    <tbody class=table-striped>
    {% for pupil in pupils_list %}
    <tr>
        <td>{{ pupil.pupil_id }} </td><td> {{ pupil.pupil_name}} </td><td>  {{ pupil.last_visit}}</td><td>{{ pupil.last_generated_code }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<h3>Сгеренерировать коды</h3>
<form action="" method="post">
    {{ codes_form.hidden_tag() }}
    <p>{{ codes_form.submit() }}</p>
</form>

{% endblock %}