{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block content %}
<h1>Список учеников</h1>

{% if pupils_list|length > 0 %}
<table class="table table-light table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Последнее посещение</th>
          <th scope="col">Код ученика</th>
          <th scope="col">TG ID</th>
        </tr>
      </thead>
    {% for i in range(pupils_list|length) %}
    <tr>
        <td>{{ pupils_list[i].pupil_id }} </td>
        <td> {{ pupils_list[i].pupil_name}} </td>
        <td>  {{ pupils_list[i].last_visit}}</td>
        <td>{{ pupils_list[i].last_generated_code }}</td>
        <td>
            <form action="" method="post">
                {{ tg_forms[i].tg_hidden(value=pupils_list[i].pupil_id) }}
                {{ tg_forms[i].hidden_tag() }}                
                {{ tg_forms[i].tgid_input(value=pupils_list[i].tg_id if pupils_list[i].tg_id != 0 else '' ) }}
                {{ tg_forms[i].tgid_submit() }}
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<h3>Сгеренерировать коды</h3>
<form action="" method="post">
    {{ codes_form.hidden_tag() }}
    <p>{{ codes_form.submit_code() }}</p>
</form>

<h3>Загрузить учеников из файла</h3>
<form action="" method="post" enctype="multipart/form-data">
    {{ add_pulils_form.hidden_tag() }}
    <p>{{ add_pulils_form.addpupil_file() }}</p>
    <p>{{ add_pulils_form.addpupil_submit() }}</p>
</form>

<h3>Сгеренерировать учеников</h3>
<form action="" method="post">
    {{ gen_pupils_form.hidden_tag() }}
    <p>
        {{ gen_pupils_form.count.label }}<br>
        {{ gen_pupils_form.count(size=32) }}<br>
        {% for error in gen_pupils_form.count.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ gen_pupils_form.submit() }}</p>
</form>
{% endblock %}